{{!-- DEVELOPER NOTE: A huge thanks to jcastle for providing the castle descriptions that are displayed in this section. In the future, we hope to write our own versions of these histories and tips. For now, we used the information from this site to populate our castle information database.

The "tips" section had some issues getting off the ground, but in the end, we were able to give it the functionality we wanted. We'd eventually like to add a "hide" feature to certain tips, so if someone wants to mute a user's tip, they can do so without deleting it for other users. For now, if a bad tip is encountered, users are encouraged via a toast message to make the developers aware of it using the Feedback page. --}}

<div class="row col-lg-12 mx-auto mt-2">
  <div class="col-lg-7 p-4 mx-auto border border-white " style="background: #163850; border-radius: 30px;">
    <img src="{{castlepic}}" class=" mx-auto d-block img-fluid" style="border-radius: 30px;">


    <div class="card mx-auto mt-1" style="background: #163850; font-size:larger;  ">
      <h4 class="card-header text-center" style="background: #163850; color: #ffffff">
        {{stampnumber}}: {{nameen}} - {{namejp}}
      </h4>

      <ul class="list-group list-group-horizontal  text-center">

        <li class=" card border w-50 ms-0 me-0 "
          style="border-top-left-radius: 30px; background: #163850; color: #ffffff">Region: {{region}} </li>
        <li class=" card border w-50 ms-0 me-0 "
          style=" border-top-right-radius: 30px; background: #163850; color: #ffffff">Prefecture:
          {{prefecture}}</li>

      </ul>

      <ul class="list-group list-group-horizontal text-center">

        <li class=" card border w-50 ms-0 me-0  " style="background: #163850; color: #ffffff"> City: {{city}}
        </li>
        <li class=" card border w-50 ms-0 me-0  " style="background: #163850; color: #ffffff">Type: {{type}}
        </li>

      </ul>

      <ul class="list-group list-group-horizontal text-center">

        <li class=" card w-100 border ms-0 me-0 " style="background: #163850; color: #ffffff"> Condition:
          {{condition}}</li>

      </ul>

      <ul class="list-group list-group-horizontal text-center">

        <li class=" card w-100 border  ms-0 me-0 " style="background: #163850; color: #ffffff"> Access:
          {{access}}
        </li>

      </ul>

      <ul class="list-group list-group-horizontal text-center">

        <li class=" card w-100 border  ms-0 me-0 "
          style="border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; background: #163850; color: #ffffff">
          {{website}}</li>

      </ul>

    </div>

  </div>

  <div class="col-lg-5 mx-auto castlepagefix">


    <div class="card p-0 mt-3 nav nav-tabs nav-fill "
      style="margin:0; display: contents; height: 100%;    background: #576672; color: #ffffff">

      <nav class="  col-12  p-0 ">
        <div class="nav nav-tabs nav-fill p-0 border-0 bg-transparent col-lg-12 m-0"
          style=" background: #576672; color: #ffffff " id="nav-tab" role="tablist">
          <button class="nav-link active col-6 " id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
            type="button" role="tab" aria-controls="nav-home" aria-selected="false"
            style="border-top-left-radius: 30px; border-top-right-radius: 30px; background: #163850; color: #ffffff; font-size:1.5rem;">History</button>
          <button class="nav-link col-6" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
            type="button"
            style=" border-top-left-radius: 30px; border-top-right-radius: 30px; background: #163850; color: #ffffff; font-size:1.5rem;"
            role="tab" aria-controls="nav-profile" aria-selected="false">Travel Tips</button>

        </div>
      </nav>
      <div class="tab-content  " id="nav-tabContent">
        <div class="tab-pane fade active show  " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

          <div id="historyborder" class="card  border border-white    mx-auto"
            style=" border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; background: #163850; color: #ffffff">
            <div class="row    mx-auto "
              style="border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; align-items: center; justify-content:center; background: #163850; color: #ffffff">

              <div class=" row col-sm-12 mx-auto mt-3 " style="align-items: center; justify-content:center;">
                <div class="col-7 mx-auto ">
                  <h3 class="text-center">History of <br>{{nameen}} </h3>
                </div>
                <div class="  mx-auto p-1  me-3  col-4" style=" border-radius: 30px; background: #ffffff; ">
                  <img id="stampeedo" src="{{stamppic}}" class=" mx-auto d-block img-fluid">
                </div>

                <div class="card-body col-sm-12">
                  <p class="card-title mt-2" style="min-height: 549px;">{{history}}</p>
                </div>
              </div>


            </div>
          </div>
        </div>



        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <div id="travelborder" class="card row border border-white mx-auto col-lg-12"
            style="border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; background: #163850; color: #ffffff; min-height: 739px;">
               <div class="toast bg-success text-white text-center " style="position: absolute; " id="tyvm1"
                data-bs-delay="1500">

                <strong class="me-auto h4 "><i class="bi-check-circle "></i> Thanks for the tip!</strong>

              </div>
              <div class="toast bg-danger text-white text-center " style="position: absolute; " id="tyvm2"
                data-bs-delay="1500">


                <strong class="me-auto h4 "><i class="bi-exclamation-diamond "></i> Your tip has been deleted.</strong>
              </div>
              <div class="toast bg-danger text-white text-center " style="position: absolute; " id="tyvm3"
                data-bs-delay="2000">


                <strong class="me-auto h5 "> Bad tip? <br> Report it on our Feedback page.</strong>
              </div>
            <div class="row mx-auto"
              style="border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; align-items: center; justify-content:center; background: #163850; color: #ffffff">

              <div class="card-body mx-auto mt-3 mb-3 text-center">
                <h5>Share tips for this castle.</h5>


                <form id="commentForm">
                  <div class="d-flex text-right ">
                    <textarea class="form-control ps-4 p-2 "
                      style="border-bottom-right-radius: 0px; background: #e7e7e7; border-top-right-radius: 0px; border-top-left-radius: 30px; border-bottom-left-radius: 30px;"
                      placeholder="Share your experience..." id="commentText" rows="3"></textarea>
                    <button type="submit" class="btn col-3"
                      style="border-bottom-right-radius: 30px; border-top-right-radius: 30px; border-top-left-radius: 0px; border-bottom-left-radius: 0px; background: #4f9726; color: #ffffff">
                      <i class="bi-plus-circle-fill" style="font-size: 1.7rem;"></i><br>Post</button>
                  </div>
                </form>
              </div>

              <div class="commentcard">
                {{#each notes}}
                <div class="note-container mb-3">
                  <div class="row">
                    <div class="card-header ps-4 p-2 m-0 col-11"
                      style="border-top-left-radius: 30px; border-top-right-radius: 0px; background: #4f9726; color: #ffffff; font-size:1rem;">
                      {{user.name}}
                    </div>
                    <button class="delete-button ps-1 m-0 col-1 text-left"
                      style="border:0; border-top-right-radius: 30px;  background: #4f9726; color: #ffffff"
                      data-note-id="{{this.id}}">
                      <i class="bi-x-circle" style="font-size: 1.1rem;"></i>
                    </button>
                  </div>
                  <div class="row">
                    <div class="card-body m-0 col-12"
                      style="border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; background: #e7e7e7; color: #000000">
                      <p>{{this.content}}</p>
                    </div>
                  </div>
                </div>
                {{/each}}
              </div>
           
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <script src="/js/noteposting.js"></script>
  <script src="/js/notedeleting.js"></script>