{{!-- The following is a template handlebars page for a search feature which was not implemented during the original 2 week development period in order to leave time to better flesh out the features in our current minimum viable product. 

Although it is not part of the current minimum viable product, and cannot be accessed by the user, we have decided to leave it in because we plan to finish it in the future and do not want to delete what we've done so far.  --}}

<h1 class="mt-4 mb-4 ms-4" style="color: #ffffff">Search Results:</h1>



<div class="row col-lg-12 p-3 mt-3 mb-3 mx-auto border border-white " style="background: #163850; border-radius: 30px;">
  <div class="  mx-auto col-2 p-1 mt-1 mb-1"
                                style=" border-radius: 30px; background: #ffffff; ">
                                <img src="/images/stamps/stamp001.png" {{!-- src="{{stamppic}}"--}} class=" mx-auto d-block img-fluid"> 
                            </div>
  <div class="card col-10 mx-auto " style="background: #163850; font-size:larger;  ">
    <h2 class="card-header p-3 " style="background: #163850; color: #ffffff">
      000 : Castle Name - 日本語 {{!-- {{stampnumber}}: {{nameen}} - {{namejp}} --}}
    </h2>

    <ul class="list-group list-group-horizontal  ">

      <li class=" card border w-50 ms-0 me-0 p-3"
        style="border-top-left-radius: 30px; background: #163850; color: #ffffff">Region: {{region}} </li>
      <li class=" card border w-50 ms-0 me-0 p-3" style="  background: #163850; color: #ffffff">Prefecture:
        {{prefecture}}</li>
      <li class=" card border w-50 ms-0 me-0 p-3"
        style=" border-top-right-radius: 30px; background: #163850; color: #ffffff">City: {{city}}</li>

    </ul>

    <ul class="list-group list-group-horizontal ">

      <li class=" card border w-50 ms-0 me-0 p-3 "
        style="background: #163850;  border-bottom-left-radius: 30px; color: #ffffff"> Type: {{type}}</li>
      <li class=" card border w-50 ms-0 me-0 p-3 "
        style="background: #163850; border-bottom-right-radius: 30px; color: #ffffff">Condition:
        {{condition}}</li>

    </ul>



  </div>
</div>







<div class="row col-lg-12 p-3 mt-3 mb-3 mx-auto border border-white " style="background: #163850; border-radius: 30px;">
  <div class="  mx-auto col-2 p-1 mt-1 mb-1"
                                style=" border-radius: 30px; background: #ffffff; ">
                                <img src="/images/stamps/stamp001.png" {{!-- src="{{stamppic}}"--}} class=" mx-auto d-block img-fluid"> 
                            </div>
  <div class="card col-10 mx-auto " style="background: #163850; font-size:larger;  ">
    <h2 class="card-header p-3 " style="background: #163850; color: #ffffff">
      000 : Castle Name - 日本語 {{!-- {{stampnumber}}: {{nameen}} - {{namejp}} --}}
    </h2>

    <ul class="list-group list-group-horizontal  ">

      <li class=" card border w-50 ms-0 me-0 p-3"
        style="border-top-left-radius: 30px; background: #163850; color: #ffffff">Region: {{region}} </li>
      <li class=" card border w-50 ms-0 me-0 p-3" style="  background: #163850; color: #ffffff">Prefecture:
        {{prefecture}}</li>
      <li class=" card border w-50 ms-0 me-0 p-3"
        style=" border-top-right-radius: 30px; background: #163850; color: #ffffff">City: {{city}}</li>

    </ul>

    <ul class="list-group list-group-horizontal ">

      <li class=" card border w-50 ms-0 me-0 p-3 "
        style="background: #163850;  border-bottom-left-radius: 30px; color: #ffffff"> Type: {{type}}</li>
      <li class=" card border w-50 ms-0 me-0 p-3 "
        style="background: #163850; border-bottom-right-radius: 30px; color: #ffffff">Condition:
        {{condition}}</li>

    </ul>



  </div>
</div>










<div class="row col-lg-12 p-3 mt-3 mb-3 mx-auto border border-white " style="background: #163850; border-radius: 30px;">
  <div class="  mx-auto col-2 p-1 mt-1 mb-1"
                                style=" border-radius: 30px; background: #ffffff; ">
                                <img src="/images/stamps/stamp001.png" {{!-- src="{{stamppic}}"--}} class=" mx-auto d-block img-fluid"> 
                            </div>
  <div class="card col-10 mx-auto " style="background: #163850; font-size:larger;  ">
    <h2 class="card-header p-3 " style="background: #163850; color: #ffffff">
      000 : Castle Name - 日本語 {{!-- {{stampnumber}}: {{nameen}} - {{namejp}} --}}
    </h2>

    <ul class="list-group list-group-horizontal  ">

      <li class=" card border w-50 ms-0 me-0 p-3"
        style="border-top-left-radius: 30px; background: #163850; color: #ffffff">Region: {{region}} </li>
      <li class=" card border w-50 ms-0 me-0 p-3" style="  background: #163850; color: #ffffff">Prefecture:
        {{prefecture}}</li>
      <li class=" card border w-50 ms-0 me-0 p-3"
        style=" border-top-right-radius: 30px; background: #163850; color: #ffffff">City: {{city}}</li>

    </ul>

    <ul class="list-group list-group-horizontal ">

      <li class=" card border w-50 ms-0 me-0 p-3 "
        style="background: #163850;  border-bottom-left-radius: 30px; color: #ffffff"> Type: {{type}}</li>
      <li class=" card border w-50 ms-0 me-0 p-3 "
        style="background: #163850; border-bottom-right-radius: 30px; color: #ffffff">Condition:
        {{condition}}</li>

    </ul>



  </div>
</div>